textarea {
    width:100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.tocenter {
    text-align: center;
}

select {
    width:40%;
}

#mynetwork {
    position:relative;
    width: 100%;
    height: 600px;
    /*border: 1px solid lightgray;*/
}

canvas {
    background-image: url('./ev.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
